:root {
  --primary: #ff0000;
  /* background: #000000; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

a {
  text-shadow: 0 0 20px #ff3333, 0 0 20px #ff0000, 0 0 20px #df0000;
}

/* navbarrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 10%;
  background-color: rgb(0, 0, 0);
  border-bottom: 2px solid #ff0000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.Navbar .Navbar-logo {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  font-style: italic;
}

.Navbar .Navbar-logo span {
  color: #ff0000;
}

.Navbar .Navbar-Nav a {
  color: #ff0000;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.Navbar .Navbar-Nav a:hover {
  color: #e8d6d6;
  font-size: 1.8rem;
}

.Navbar .Navbar-Nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.Navbar .Navbar-Nav a:hover::after {
  transform: scaleX(0.5);
}

.Navbar .Navbar-extra a {
  color: #ffffff;
  margin: 0 0.5rem;
}

.Navbar .Navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

.Menu-card-img {
  filter: drop-shadow(0px 7px 6px #ff0000);
}

.Navbar .Menu-card-img {
  width: 15%;
}
/* End Nav */

/* Hero Selectionnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Baruuuuuuuuuuu 31-12-2023 */

.card {
  background-color: black;
  display: flex;
  position: unset;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-text {
  text-align: center;
  font-family: bold;
}

/* end.............. */

/* Gradasiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii */
.hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  /* background: linear-gradient(0deg, rgb(211, 5, 5) 8%, rgba(255, 255, 255, 0) 50%); */
}

.hero .content {
  padding: 1.4rem 7%;
  /* max-width: 60rem; */
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  margin-top: 7rem;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 2rem;
  margin-top: -5rem;
  line-height: 1.4;
  font-weight: 100;
  /* mix-blend-mode: difference; */
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Aboutttttttttttttttttttttttttttttttttttttttt*/
.About {
  padding: 10rem 7% 1.4rem;
}

.hah {
  margin-top: 22%;
  color: rgb(108, 112, 115);
  font-size: 50px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.About h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.About h2 span,
.Menu h2 span,
.Kontak h2 span {
  color: var(--primary);
}

.About .row {
  display: flex;
}

.About .row {
  flex: 1 1 45rem;
}

.About-img {
  align-items: center;
  justify-content: center;
  position: initial;
  display: flex;
  justify-items: center;
}

.About .row {
  width: 100%;
}

.About .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.About .row .content h3 {
  /* text-align: center; */
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.About .row {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  /* font-weight: 100; */
  line-height: 1.6;
}

.content p {
  padding-top: 5rem;
}

/* Menuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu */
.Menu,
.Kontak {
  padding: 10rem 7% 1.4rem;
}

.Menu h2,
.Kontak h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.6rem;
}

.Menu p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  /* font-weight: 100; */
  line-height: 1.6;
}

/*         22:19              */
.Menu .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Menu .row .Menu-card {
  text-align: center;
}

.img {
  width: 490px;
  height: 355px;
  padding: 2rem;
}

.About-img {
  width: 50%;
}

.Menu .row .Menu-card-img {
  width: 50%;
}

.Menu .row .Menu-card .Menu-card-title {
  margin: 1rem auto 0.5rem;
}

/* menuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu */

/* frommmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

.h2 {
  padding-top: 10rem;
}

/* Frommmmmmmmm */

/* footer */
.footer {
  margin-top: 100vh;
  padding-top: 5px;
  padding-bottom: 5px;
  background: linear-gradient(to right, #000000, #ff0000, rgb(0, 0, 0));
}

.bi {
  align-items: center;
}

.text {
  text-align: center;
  padding-top: 3px;
  color: #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.paragraf {
  font-size: 1.5rem;
}

/* Kontak */

.btn {
  border-color: #ff0000;
  background-color: #ff0000;
}

.btn:hover {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #ff0000;
  font-family: bold;
}
.bg-success {
  background-color: #ff0000 !important;
}

.btn-primary:disabled {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}

.Navbar a img {
  width: 83%;
  margin-left: -30px;
  filter: drop-shadow(0px 7px 6px #ff0000);
}

/* end kontak */

/* RESPONSIiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii */

/* Media queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .content p {
    padding-top: 8rem;
  }

  .Navbar .Menu-card-img {
    width: 20%;
  }

  .container {
    max-width: 100%;
    margin-top: 10rem;
  }

  .form-control {
    padding: 0.075rem 0.75rem;
    border: none;
    font-size: 2rem;
  }

  .Navbar .Menu-card-img {
    width: 20%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .Navbar .Navbar-Nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #7d0303;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .Navbar .Navbar-Nav.active {
    right: 0;
  }

  .Navbar .Navbar-Nav a {
    color: rgb(0, 0, 0);
    display: block;
    margin: 1.5rem;
    padding: 8px;
    font-size: 2rem;
  }

  .Navbar .Navbar-Nav a::after {
    transform-origin: 0 0;
  }

  .Navbar .Navbar-Nav a:hover::after {
    transform: scaleX(0.3);
  }

  .About .row {
    flex-wrap: wrap;
  }

  .About .row .About-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .About .row .content {
    padding: 0;
  }

  .About .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .About .row .content p {
    font-size: 1.6rem;
  }

  .img {
    width: 350px;
    height: 250px;
  }

  .About-img {
    width: 100%;
  }

  .Menu-card-img {
    width: 40%;
  }

  .Navbar .Menu-card-img {
    width: 31%;
  }

  .container {
    margin-top: 8rem;
  }
}
/* MobilePhone */
@media (max-width: 481px) {
  html {
    font-size: 40%;
  }

  .Navbar .Navbar-Nav {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .Navbar .Navbar-Nav.active {
    right: 0;
  }

  .hah {
    margin-top: 50rem;
  }

  .img {
    width: 340px;
    height: 240px;
  }

  .About-img {
    width: 100%;
  }

  .Navbar .Menu-card-img {
    width: 50%;
  }

  .container {
    margin-top: 8rem;
    padding: 2rem;
  }

  #Contact {
    margin-top: 10rem;
  }

  .form-control {
    padding: 2.375rem 0.75rem;
    font-size: 2rem;
  }

  .btn {
    padding: 1.375rem 3.75rem;
    font-size: 2rem;
    width: 100%;
    margin-top: 2rem;
  }

  .form-label {
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }

  .h2 {
    padding-top: 10rem;
    font-size: 4rem;
  }

  textarea.form-control {
    min-height: calc(7.5em + (7.75rem + 8px));
  }

  .form-control {
    padding: 1.375rem 0.75rem;
    font-size: 2.5rem;
  }

  .hero .content {
    padding: 1.4rem 7%;
    margin-top: -30%;
    max-width: 60rem;
  }
}
